*.h5

/models/efficientnet_output*.csv
/models/autoencoder_splits10
/models/eff_dense
/models/model.h5.zip
/models/effnet_tuned
/models/effnet_finetune
/models/autoencoder_tuned
/models/effnet_tuned_dense
/models/effnet_tuned_dense_withoutAE
/models/efficientnet-b7_noisy-student_notop
/models/pspnet_ckpt
/models/segmentation_models-master
/models/xhlulu
/models/xhlulu_version7
/models/cvc_effnet_ckpt
/models/autoencoder_best
/models/xception_ckpt